html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background:rgba(222, 235, 235, 1);
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}